# Install tourch (https://pytorch.org/get-started/locally/) 
# and pytorch-geometric (https://pytorch-geometric.readthedocs.io/en/2.5.2/notes/installation.html) on your own 
# also with the optional deps: pyg_lib torch_scatter torch_sparse torch_cluster torch_spline_conv

# After that run pip install -r requeriments.txt
pandas
joblib
scikit-learn
scipy
matplotlib
tqdm
elasticsearch